* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p, 
span {
    font-family: 'Raleway', sans-serif;
}

/* ------------------- HEADER -------------------  */
header {
    background: #454545;
}

nav {
    margin: 0 auto;
    max-width: 1024px;
    background: #454545;
}

.logo {
    flex: 1;
}

a {
    text-decoration: none;
}

nav a {
    color: rgb(212, 218, 214);
    text-transform: uppercase;
}

nav a:hover {
    color: rgba(27, 122, 91, 150);
}

li {
    list-style-type: none;
}

nav li {
    list-style-type: none;
    box-sizing: border-box;
    font-size: 1em;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
}

.menu_item {
    margin: 10px;
}

h1 {
    color: rgb(212, 218, 214);
    cursor: pointer;
    text-transform: uppercase;
}

/* 
@media all and (max-width: 520px) {
    .menu {
      flex-wrap: wrap;
    }
    .menu > li {
      flex: 1 1 50%;
    }
    
  } */

/* --------------- MAIN --------------- */

main {
    margin: 10px;
}

article {
    margin: 0 auto;
    max-width: 1024px;
}

.circle_photo {
    width: 150px;
    height: 150px;
    background: url(/assets/elmo.jpg);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 80px;
    border: 1px solid #454545;
    background-repeat: no-repeat;
    background-position: 50%;
}

.resources {
    text-align: center;
}

.resources a {
    color: green;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article_title {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.article_summary {
    max-width: 400px;
    margin-left: 10px;
}

.sideline {
    position: relative;
    top: 10px;
    margin: 0 5px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #252525;
}

.education {
    justify-content: center;
    align-items: center;
}

.article_education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h3 {
    text-align: center;
}

.bsuir-logo {
    width: 100px;
    height: 100px;
    background: url(./assets/bsuir.png);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
}
